body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.terminal {
    max-width: 1000px;
    min-height: 580px;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3) !important;
}

.terminal-header {
    border-bottom: 2px solid #596892;
    background-color: #0e4f8b;
    border-radius: 8px !important;
}

.terminal-body {
    min-height: 580px;
    overflow-y: auto;
    font-size: 15px;
    border-radius: 8px !important;
}

#terminal-input {
    outline: none !important;
    border: none !important;
    caret-color: #ffa500;
    background: none !important;
    color: #fff;
}

.window-buttons {
    display: flex;
    gap: 8px;
    margin-right: 10px;
}

.window-buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6c6c6c;
    border: #333;
}

.window-buttons .close {
    background-color: #ff605c !important;
}

.window-buttons .minimize {
    background-color: #ffbd44 !important;
}

.window-buttons .maximize {
    background-color: #00ca4e !important;
}

.window-buttons span:hover {
    opacity: 0.8;
    cursor: pointer;
}

.highlight-computers {
    color: #FF6347;
    font-weight: bold;
}

.highlight-os {
    color: #1E90FF;
    font-weight: bold;
}

/* skills */
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.skills-container ul {
    list-style: none;
    padding: 0;
}

.skills-container li {
    margin-bottom: 10px;
    color: #fefeff;
}

.progressBar {
    overflow: hidden;
    width: 100%;
    height: 20px;
}

.bar {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .skills-container li {
        font-size: 16px;
    }

    .bar {
        height: 18px;
    }
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #11e470;
}

.project small {
    font-size: 1rem;
    color: #e73e14;
}

.project p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.social-media {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.social-media h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:#adff28;
    text-decoration: double !important;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
}

.social-icon:hover img {
    filter: grayscale(0%);
}

.social-icon.instagram {
    background-color: #E4405F;
}

.social-icon.facebook {
    background-color: #3B5998;
}

.social-icon.github {
    background-color: #333;
}

.social-icon.linkedin {
    background-color: #0077B5;
}

.social-icon.email {
    background-color: #1cbb4c;
}

#signature {
    color: #00ca4e;
    font-size: 10px;
}

.nameSkillDev {
    color:#eaff28;
}

.skillPC {
    color:#E4405F;
}

.skillG {
    color: #1E90FF;
}
